@page "/map"
@namespace OpenStreetMapBlazor.Pages

<PageTitle>Mapa</PageTitle>

<div id="map"></div>

<style>
    #map {
        width: 100%;
        aspect-ratio: 3/2;
        border: 1px solid #bbb;
    }
</style>